<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulplanet.trip.modules.tms.dao.FlightDao">

	<resultMap id="Flight" type="com.ulplanet.trip.modules.tms.entity.Flight">
            <result property="id" column="id"/>
            <result property="city" column="city"/>
            <result property="flightNo" column="flight_no"/>
            <result property="company" column="company"/>
            <result property="departureTerminal" column="departure_terminal"/>
            <result property="arrivalTerminal" column="arrival_terminal"/>
            <result property="departureTime" column="departure_time"/>
            <result property="arrivalTime" column="arrival_time"/>
            <result property="departureCity" column="departure_city"/>
            <result property="arrivalCity" column="arrival_city"/>
            <result property="common" column="common"/>
            <result property="remarks" column="remarks"/>
	</resultMap>

    <resultMap id="InfoBo" type="com.ulplanet.trip.modules.tms.bo.InfoBo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="BaseColumns">
	    <![CDATA[
            id,city,flight_no,company,departure_terminal,arrival_terminal,departure_time,arrival_time,departure_city,arrival_city,common,remarks
	    ]]>
	</sql>

<sql id="BaseWhere">
    <where>
                <if test="id != null and id != ''">
                    AND id = #{id}
                </if>
                <if test="city != null and city != ''">
                    AND city = #{city}
                </if>
                <if test="flightNo != null and flightNo != ''">
                    AND flight_no = #{flightNo}
                </if>
                <if test="company != null and company != ''">
                    AND company = #{company}
                </if>
                <if test="departureTerminal != null and departureTerminal != ''">
                    AND departure_terminal = #{departureTerminal}
                </if>
                <if test="arrivalTerminal != null and arrivalTerminal != ''">
                    AND arrival_terminal = #{arrivalTerminal}
                </if>
                <if test="departureTime != null and departureTime != ''">
                    AND departure_time = #{departureTime}
                </if>
                <if test="arrivalTime != null and arrivalTime != ''">
                    AND arrival_time = #{arrivalTime}
                </if>
                <if test="departureCity != null and departureCity != ''">
                    AND departure_city = #{departureCity}
                </if>
                <if test="arrivalCity != null and arrivalCity != ''">
                    AND arrival_city = #{arrivalCity}
                </if>
    </where>

 </sql>


	<insert id="insert">
            <![CDATA[
                INSERT INTO flight (
                    id ,
                    city,
                    flight_no ,
                    company ,
                    departure_terminal ,
                    arrival_terminal ,
                    departure_time ,
                    arrival_time ,
                    departure_city ,
                    arrival_city ,
                    common ,
                    create_by ,
                    create_date ,
                    remarks
                ) VALUES (
                    #{id} ,
                    #{city},
                    #{flightNo} ,
                    #{company} ,
                    #{departureTerminal} ,
                    #{arrivalTerminal} ,
                    #{departureTime} ,
                    #{arrivalTime} ,
                    #{departureCity} ,
                    #{arrivalCity} ,
                    #{common} ,
                    #{createBy.id} ,
                    #{createDate} ,
                    #{remarks}
                )
            ]]>

	</insert>
    
	<update id="update" >
        UPDATE flight
         <set>
                 <if test="flightNo != null">
                      flight_no = #{flightNo},
                  </if>
                  <if test="city != null">
                      city = #{city},
                  </if>
                 <if test="company != null">
                      company = #{company},
                  </if>
                 <if test="departureTerminal != null">
                      departure_terminal = #{departureTerminal},
                  </if>
                 <if test="arrivalTerminal != null">
                      arrival_terminal = #{arrivalTerminal},
                  </if>
                 <if test="departureTime != null">
                      departure_time = #{departureTime},
                  </if>
                 <if test="arrivalTime != null">
                      arrival_time = #{arrivalTime},
                  </if>
                 <if test="departureCity != null">
                      departure_city = #{departureCity},
                  </if>
                 <if test="arrivalCity != null">
                      arrival_city = #{arrivalCity},
                  </if>
                 <if test="updateBy.id != null">
                     update_by = #{updateBy.id},
                 </if>
                 <if test="updateDate != null">
                     update_date = #{updateDate},
                 </if>
                 <if test="common != null">
                      common = #{common},
                  </if>
                 <if test="remarks != null">
                      remarks = #{remarks}
                  </if>
        </set>
        WHERE id = #{id}
	</update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM flight WHERE
            id = #{id} 
        ]]>
    </delete>
    
    <select id="get" resultMap="Flight">
		SELECT <include refid="BaseColumns" />
	    <![CDATA[
		    FROM flight 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	

		

    <select id="findList" resultMap="InfoBo">
    	SELECT id,flight_no as name
	    FROM flight 
		<where>
            <if test="ids!=null">
                AND city IN
                <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

	
</mapper>

